<h1><%= @user.name %></h1>

<h2>All My Items</h2>

<% @user.item.each do |item|%>
<h4><%= link_to item.name, item_path(item) %></h4>
<% end %>

<%= link_to 'edit me', edit_user_path(@user) %>


<%= link_to "All Users", users_path %>

<%= link_to "Add New Item", new_item_path %>
