<h1>All Items</h1>

<%= link_to 'create a new Item', new_item_path %>

<h4>Search by name</h4>
<%= form_tag(items_path, method: :get) do %>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag "Search" %>
<% end %>


<ul>
  <% @items.each do |item| %>
    <li>
      <%= link_to item.name, item %>
    </li>
  <% end %>
</ul>
